body {
	background: black;
}
#back {
	position: relative;
	width: 651px;
	height: 548px;
	background: url('img/back1.jpg')  no-repeat;
	margin:auto;
	padding:0;}
#holder {
	position: absolute;
	top: 86px; left: 179px; 
	width:288px;
	height:384px;
	padding:0;
	z-index: 0;
	border: #454d1e solid 1px;
	margin:0;}	
#container {
	position: relative;
	padding:0;
	margin:auto;
	width: 288px;
	height: 384px;
	 }
.box, .onbox { 
    position:absolute;
    padding:0;
	margin:0;
	width: 24px; 
	height:24px; }
.onbox	{
	width: 22px; 
	height:22px;
	border: #969900 solid 1px;
	background: transparent; 
    background:yellow;
    opacity: .75; 
    filter:alpha(opacity=75); }
#btn {
	position: absolute;
	width: 136px;
	height: 39px;
	top:481px; left:251px;
	font-family: Arial;
	font-size: 1.8em;
	padding-top:2px;
	cursor: pointer;
}
.btnoff {
	color: #c37e2f; 
    background: url('img/btnoff.jpg') no-repeat; }
.btnon { 
    color: #AB6F29;
    background: url('img/btnon.jpg') no-repeat; }
.btnover { 
    color: #FFA63D;
    background: url('img/btnover.jpg') no-repeat; }
#scorebox, #levelbox {
	position:absolute;
	width: 126px;
	height: 28px;
    left: 28px; top: 118px;
	background: #000000;
	color: #FFA439;
	font-family: arial;
	font-weight: bold;
	font-size: 1em; 	
	padding-top:7px;
	padding-left:5px;
}	
#levelbox {
	top: 118px; left: 489px; }
#lefttxt {
	position:absolute;
	width: 150px;
	height: 160px;
	font-size: 14px;
	font-family: sans-serif;
	color:#FFFFFF;
	top:160px;
	left: 18px;
	z-index:0; }
#lefttxt p {
	margin-bottom: 5px;
	margin-top: 15px;
	padding: 0; }
#lefttxt a,#lefttxt a:visited, #lefttxt a:hover {
	color: #ffffff;
	font-size: 0.9em;
	text-decoration: underline;
}
#lefttxt a:hover {
	text-decoration: none;
}
#powered {
	position:absolute;
	width: 100px;
	height: 100px;
	color: #ffffff;
	font-family: arial;
	font-size: 0.6em;
	top: 350px;
	left: 518px; }
#nexttxt {
	position:absolute;
	width: 96px;
	height: 21px;
	top: 174px;
	left: 500px;
	background: black;
	color: #FFA439;
	font-family: arial;
	font-weight: bold;
	font-size: 1em; 	
	padding-top:7px;
}	
#nextbox, #nx, #nxin {
	position:absolute;
	width: 125px;
	height:125px;
	top: 200px;
	left: 485px;
    border: #454d1e solid 1px;
	background: black;}
#nx { position:relative; top:0; left:0; border: 0; }
#nxin {	position: absolute; top:0; left:0; border:0; }	
#inlogo {
	position: absolute;
	z-index:1;
	width: 206px;
	height: 192px;
	left: 222px; top: 181px;
	background: url('img/int1.jpg') no-repeat;}
#intxt {
	position: absolute;
	color: #FFFFFF;
	display:none;
	font-size: 0.8em;
	width: 206px;
	left: 222px;
	z-index:2;
	top: 340px;
	font-family: arial;
	font-weight: bold;
}						